# SET

In [2]:
myset = {1,2,3}
myset

myset = {"Mert",1.9,55}
myset

{1.9, 55, 'Mert'}

In [3]:
myset.add(44)
myset

{1.9, 44, 55, 'Mert'}

In [4]:
myset = {1,2,[3,4]}
myset

TypeError: unhashable type: 'list'

In [6]:
food = {}
type(food)

food = set()
type(food)

set

In [20]:
myset = {1,3}
myset.add(2)

myset.update([2,3,4])
myset.update([4,5],{1,6,8})
myset

{1, 2, 3, 4, 5, 6, 8}

In [21]:
myset.remove(8)
myset.discard(6)
myset

{1, 2, 3, 4, 5}

In [25]:
myset = set("Hello World")
myset

myset.pop()
myset.clear()
myset

set()

In [29]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A.union(B)
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
A.intersection(B)
A & B

{4, 5}

In [33]:
A.difference(B)
A - B

{1, 2, 3}

In [35]:
A ^ B
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [37]:
myset = set("Python")

'p' in myset

False

In [39]:
for i in myset:
    print(i)
print(myset)

P
n
t
y
h
o
{'P', 'n', 't', 'y', 'h', 'o'}

# Dictionary

In [42]:
mydict = {}

mydict = {1:'apple', 2:'ball'}
mydict

{1: 'apple', 2: 'ball'}

In [43]:
mydict = {"name":"John",1:[2,3,4]}
mydict

{'name': 'John', 1: [2, 3, 4]}

In [45]:
mydict = dict([(1,"apple"),(2,"ball")])
mydict

{1: 'apple', 2: 'ball'}

In [50]:
mydict[1]
mydict[2]

mydict["TEST"] = 33
mydict["TEST"]
mydict.get(1)

'apple'

In [57]:
mydict["TEST"] = 44
mydict

{1: 'apple', 2: 'ball', 'TEST': 44}

In [58]:
mydict.pop("TEST")
mydict.popitem()

(2, 'ball')

In [59]:
square = {x:x*x for x in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [61]:
evenSquare = {x: x*x for x in range(10) if x % 2 == 0}
evenSquare

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}